#container{
    display: flex;
    background-color: aqua;
    border : 1px solid black;
    height : 100vh;
    align-items: center;
    justify-content: center; 
}

#slider{
    width: 80%;
    height: 70%;
    background : url('Image Slider/images/1.jpg') center/cover fixed no-repeat;
    border: 1px solid purple;
    display: flex;
    align-items: center;              /* vertical center */
    justify-content: space-between;   /* left & right ends */

}

.arrow{
    font-size: 40px;
    color: white;
    cursor: pointer;
    padding: 20px;
}
