table{
    border-collapse: collapse;
    
}

thead{
    background-color: aqua;
}

tr[class="read"]{
    background-image: linear-gradient(to right,green,rgb(138, 227, 138),rgb(22, 45, 22));
}

tr[class="to-read"]{
    background-image: linear-gradient(to right,green,rgb(76, 245, 76),rgb(6, 71, 6));
}

tr[class="in-progress"]{
    background-image: linear-gradient(to right,rgb(136, 6, 28),rgb(147, 43, 60),rgb(128, 89, 96))
}

span{
    display: inline-block;
}
tr[class="to-read"] span[class='status']{

    border : 3px solid black;
    border-radius: 40%;
    background-image: linear-gradient(lightcoral);
}

tr[class="in-progress"] span[class='status']{
    border : 3px solid black;
    border-radius: 40%;
    background-image: linear-gradient(yellowgreen);
}

tr[class="read"] span[class='status']{
    border : 3px solid black;
    border-radius: 45%;
    background-image: linear-gradient(rgb(28, 252, 28));
}



span[class="status"],span[class^="rate"]{
    height : 20px;
    width : 100px;
    padding : 4px;
}

span[class^="rate"]>span{
    border : 1px solid black;
    border-radius: 60%;
    width : 20px;
    height : 20px;
    background-color: whitesmoke;
    margin : 4px;
}

span[class~="one"]>span:nth-child(1){
    background-image: linear-gradient(yellow);
}

span[class~="two"]>span:nth-child(1),
span[class~="two"]>span:nth-child(2){
    background-image: linear-gradient(yellow);
}

span[class~="three"]>span{
    background-image: linear-gradient(yellow);
}

