body{
    margin : 0;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height : 100vh;
   
}

.container{
    border : 0.1em solid black;
    width : 500px;
    height: 500px;
    padding: 1em;
    background-color: white;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}